
body{
    background-color: #c7cad0;
}
h1{
    color: #bc6cd9;
    
}
h2{
    color: #bc6cd9;
}
p{
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: beige;
}
img{
    max-width: 25%;
    max-height: 25%;
}
.enviar{
    border-radius: 5px;
    background-color: #a5FFEa;
    color: #272625;
}
.etiqueta{
    background-color: #ff0644;
}
ol li{
    font-size:30px;
}
ul li{
    color: green;
    font-weight: bold;
    background-color: yellow;
    text-align:center;
}
ol li{
    color:blueviolet;
}
.registrar{
    border-radius: 10px;
    
}
.iniciar{
    background-color: #E9FFEC;
    color: #FFF4F6;
}
.conf{
    background-color: #e0483d;
    color: #bc6cd9;
}
